.footer{
    height: 300px;
    background-color: 212529;
    text-align: center;
}
.lo{
    width: 110px;
    height: 110px ;
    border-radius: 50%;
    margin-top: 30px;

}
.social{
    margin-top: 20px;
    font-size: 40px;
    margin-left: 10px;
  
}
.socialm{
    color: blue;
}
.socialm:hover{
    font-size: larger;
}